/* Copyright Â© , Inc. Confidential and proprietary. Patents issued and pending. All rights reserved. */

/* CSS classes controlled by JS:
  #AI-player.reveal: Reveal AI choices early, controlled by checkbox.
  #AI-player .hand-container.chosen: This hand is the AI player's next choice.
  .hand-container.selected: This was the hand selected (played) most recently.
*/
.myDiv {
  /*border: 5px outset red;*/
  /*background-color: lightblue;    */
  text-align: center;
}
.padDiv {
  padding-right: 10px;
}

.row1 {
  display: flex;
  padding-top: 10px;
}
.col-md-4 {
  flex-grow: 1;
  text-align: center;
}
#choices {
  position: relative;
}
.player-title,
.probability {
  width: 100%;
  text-align: center;
}
#probabilities {
  height: 30px;
}
#probabilities-row {
  display: none;
}
#winner {
  height: 150px;
}
#winner.ready {
  color: gray;
}
#info {
  text-align: center;
  padding-top: 5vh;
  color: rgb(16, 71, 71);
}
#aiadv {
  padding-left: 17%;
}
#winner-message {
  position: absolute;
  /* top: 20px; */
  left: 30px;
  right:20px;
  text-align: right;
  font-size: 30px;
  margin-top: 4.5em; 
  margin-bottom: 2em; 
  margin-right: 10em;
  color: royalblue;
}
#retweeted-message {
  position: absolute;
  left: 30px;
  right:20px;
  text-align: right;
  font-size: 30px;
  margin-top: 4.5em; 
  margin-bottom: 2em; 
  margin-right: 10em;
  color: royalblue;
}
#prediction-message {
  position: absolute;
  left: 30px;
  right:20px;
  text-align: right;
  font-size: 30px;
  margin-top: 5em; 
  margin-bottom: 2em; 
  margin-left: 10em;
  margin-right: 10em;
  color: royalblue;
}

.prediction-message1:before {
  position: absolute;
  left: 30px;
  right:20px;
  text-align: right;
  font-size: 30px;
  margin-top: 5em; 
  margin-bottom: 2em; 
  margin-left: 10em;
  margin-right: 10em;
  color: #f00000;
  content: "Correct";
}
.prediction-message2:before {
  position: absolute;
  left: 30px;
  right:20px;
  text-align: right;
  font-size: 30px;
  margin-top: 5em; 
  margin-bottom: 2em; 
  margin-left: 10em;
  margin-right: 10em;
  color: #f00000;
  content: "Incorrect";
}
.choice,
.hand-container,
.hand-img,
.hand-background-img
,.hand-selected-img 
{
  padding: 10px 24px;
  /* height: 1.5em; */
  /*width: 150px;*/
}
.hand-container {
  position: relative;
  margin: auto;
}
.hand-background-img,
.hand-selected-img {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  /* display: none;
  z-index: 30;
  left: 0px;
  top: 0px; */
}
#human-player .hand-container:hover > .hand-background-img {
  display: block;
}
#reveal .hand-container.chosen > .hand-background-img {
  display: block;
}


#human-player .hand-container.selected > img {
  top: 30px;
}
#AI-player .hand-container.selected > img {
  top: -30px;
}
.hand-container.selected > .hand-selected-img {
  background-color: #1DA1F2;
  border: none;
  border-radius: 8px;
  color: white;
  display: inline-block;
}

.hand-img {
  z-index: 10;
}
.hand-img,
.hand-background-img,
.hand-selected-img {
  position: relative;
}
.btn {
  background-color: #1DA1F2;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
/*#AI-player .hand-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}*/

footer {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #333333;
}
.footer {
  position: fixed;
  left: 0;

  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 20px;
  font-size: 0.9em;
  text-align: center;
  bottom: 0;
}

h3,
h2 {
  padding: 5px;
}

html,
body {
  height: 100%;
  width: 100%;
}

.leftpane {
  width: 33%;
  height: 100%;
  float: left;
  overflow-y: scroll;
  overflow-x: scroll;
}

.rightpane {
  height: 100%;
  float: right;
  right: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}

.middlepane {
  width: 33%;
  height: 100%;
  float: left;
  overflow-y: scroll;
  overflow-x: scroll;
}

.buttonpane {
  position: fixed;
  left: 0;

  bottom: 0%;
  width: 100%;
  /* background-color: #1a1a1a;
   color: white;
   text-align: center; */
}
.scorePane {
  width: 100%;
  position: fixed;
  height: 20%;
  top: 10%;
  background-color: #73ad21;
}

.line1 {
  left: 33.33%;
}

.line2 {
  left: 66.66%;
}
.vl {
  top: 0;
  border-left: 4px solid black;
  height: 1000px;
}

.center {
  margin: percentage;
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  top: 10px;
  width: 60%;
  /* height: 110%; */
  /* border: 1px solid #1DA1F2; */
  padding: 5px;
}

body,
html {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
}

.vr {
  width: 2px;
  background-color: #000;
  position: fixed;
  top: 12%;
  bottom: 0;

  left: 33%;
}

.vr1 {
  width: 2px;
  background-color: #000;
  position: fixed;
  top: 12%;
  bottom: 0;

  left: 66%;
}

/*card style*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /*background-color: #ede7e6; */
  /*background-image: -webkit-linear-gradient(-225deg, #19d3d1 5%, #57abf2); */
  /*background-image: linear-gradient(-45deg,#19d3d1 5%, #57abf2); */
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  /*height: auto;*/
  vertical-align: bottom;
}

.recipe-card {
  background: #fff;
  margin: 1em auto;
  width: 80%;
  max-width: 496px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.recipe-card aside {
  position: relative;
}
.recipe-card aside img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 10em;
  width: 27em;
}
.recipe-card aside .button {
  background: #57abf2;
  display: inline-block;
  position: absolute;
  top: 80%;
  right: 3%;
  width: 4.0625em;
  height: 4.0625em;
  border-radius: 4.0625em;
  line-height: 4.0625em;
  text-align: center;
}
.recipe-card aside .button .icon {
  vertical-align: middle;
}
.recipe-card article {
  padding: 1.25em 1.5em;
}
.recipe-card article ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}
.recipe-card article ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
.recipe-card article ul li:first-child {
  margin-left: 0;
}
.recipe-card article ul li .icon {
  vertical-align: bottom;
}
.recipe-card article ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 50;
  vertical-align: middle;
  color: #838689;
}
.recipe-card article h2,
.recipe-card article h3 {
  margin: 0;
  /* font-weight: 50; */
}
.recipe-card article h2 {
  font-size: 1em;
  color: #222222;
}
.recipe-card article h3 {
  font-size: 0.9375em;
  color: #838689;
}
.recipe-card article p {
  margin: 1.25em 0;
  font-size: 0.8125em;
  /* font-weight: 400; */
  color: #222222;
}
.recipe-card article p span {
  /* font-weight: 700; */
  color: #000000;
}
.recipe-card article .ingredients {
  margin: 2em 0 0.5em;
}
.recipe-card .icon {
  display: inline;
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
  background-repeat: no-repeat;
}
.recipe-card .icon-calories,
.recipe-card .icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-clock,
.recipe-card .icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}
.recipe-card .icon-level,
.recipe-card .icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}
.recipe-card .icon-play,
.recipe-card .icon-play\:regular {
  background-position: 0 -58px;
  width: 21px;
  height: 26px;
}
.recipe-card .icon-users,
.recipe-card .icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}

/* card column */
/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  max-height: 60%;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

.resol {
  image-resolution: 100dpi;
}

/* pop up style */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.cnt223 a {
  text-decoration: none;
}

.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}

.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
}

.cnt223 p {
  clear: both;
  color: #555555;
  /* text-align: justify; */
  font-size: 15px;
  font-family: sans-serif;
}

.cnt223 p a {
  color: #0a5ead;
  font-weight: bold;
}

.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}

.cnt223 .x:hover {
  cursor: pointer;
}
/* pop up style ends */


html {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  /* border-style: solid; */
  /* border-color: red; */
  grid-template-columns: auto;
  grid-template-rows: 6vh 32vh 59vh 3vh;
  /* grid-gap: 5px; */
  width: 100vw;
  height: 100vh;
}